In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#processing one hot encoding
df=pd.get_dummies(df,drop_first=True)
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,False,True
1,162597.70,151377.59,443898.53,191792.06,False,False
2,153441.51,101145.55,407934.54,191050.39,True,False
3,144372.41,118671.85,383199.62,182901.99,False,True
4,142107.34,91391.77,366168.42,166187.94,True,False

In [5]:
#coverting boolean data type to integer
df=df.astype(int)
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349,136897,471784,192261,0,1
1,162597,151377,443898,191792,0,0
2,153441,101145,407934,191050,1,0
3,144372,118671,383199,182901,0,1
4,142107,91391,366168,166187,1,0

In [5]:
#creating variable for y_train and y_test
independent=df[['R&D Spend','Administration','Marketing Spend','State_Florida','State_New York']]

In [6]:
#creating variable for y_train and y_test
dependent=df[['Profit']]

In [7]:
#importing train_test_split for training
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [8]:
#model creation
from sklearn.svm import SVR
regressor=SVR(kernel='linear')
regressor.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

In [9]:
#finding intercept
intercept=regressor.intercept_
intercept

array([37952.33376916])

In [10]:
regressor.n_support_

array([35])

In [11]:
regressor.support_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34])

In [12]:
#assigning to y_pred
y_pred=regressor.predict(x_test)

In [13]:
#evaluating with r2_score
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.8950779236368285

In [14]:
#saving model
import pickle 
filename='finalized_multi_linear_model.sav'
pickle.dump(regressor,open(filename,'wb'))

In [17]:
load_model=pickle.load(open('finalized_multi_linear_model.sav','rb'))
result=load_model.predict([[1234,200,123,1,0]])

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [19]:
#predicting the output
result

array([38887.73278196])